.conteudo-principal {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0px;

    height: calc(100vh - 70px);
}
    
.div-btn-novo {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.div-titulo-tabela {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 3;

    display: flex;
    justify-content: center; 
    align-items: center; 
}

.div-vazio {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
}

.div-tabela {
    grid-column: span 8 / span 8;
    grid-row: span 6 / span 6;
    grid-row-start: 3;
}

.div-btn-novo a {
    display: inline-block; 
    padding: 10px 40px; 
    background-color: var(--cor-principal); 
    color: var(--cor-destaque); 
    text-decoration: none; 
    border-radius: 8px; 
}

.tabela {
    width: 80%; 

    margin: 0 auto; 
}

.tabela thead {
    background-color: #5B5B5B; 
    color: var(--cor-destaque); 
    height: 2rem; 
}

.tabela tbody {
    background-color: #363636; 
    color: var(--cor-destaque); 
}

td {
    text-align: center; 
}

