:root {
    --cor-principal: #0B3D91;
    --cor-background: #ffffff;
    --cor-destaque: #F4F4F4;
    --cor-cabecalho-tabela: #FF5733;
    --cor-corpo-tabela: #C70039;
}

.cabecalho {
    display: flex;
    background-color: var(--cor-principal);
    height: 70px;
    align-items: center;
    justify-content: space-around;
}
* {
    margin: 0;
    padding: 0 ;
}
.cabecalho a {
    color: white;
    text-decoration: none;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
}

.ctn-esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.ctn-esquerda img {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.ctn-direita {    
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ctn-direita {
    width: 40%;
}

